<div class="col">
  <div class="card shadow-sm">
    <img src="{{movie.image_url}}" data-movieid="{{movie.id}}"></img>
    <div class="card-body">
      <p class="card-text">
        {{movie.name}}
      </p>
      <button type="button" id="viewBtn" class="btn btn-sm btn-outline-secondary" data-movieid="{{movie.id}}">
        View movie
      </button>
    </div>
  </div>
</div>