<div class="col">
  <div class="card shadow-sm" data-movieid="{{review.movie_id}}">
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/qJ2tW6WMUDux911r6m7haRef0WH.jpg"></img>
    <div class="card-body">
      <p></p>
      <p class="card-text">
        {{review.body}} This is a wider card with supporting text below as a
        natural lead-in to additional content. This content is a
        little bit longer.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            View or Comment
          </button>
        </div>
        <small class="text-muted">{{review.createdAt}}</small>
      </div>
    </div>
  </div>
</div>