<div class="col">
  <div class="card shadow-sm">
    <img src="{{movie.image_url}}"></img>
    <div class="card-body">
      <p class="card-text">
        {{name}}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" id="viewBtn" class="btn btn-sm btn-outline-secondary" data-movieid="{{id}}">
            View movie
          </button>
        </div>
        <small class="text-muted">{{review.createdAt}}</small>
      </div>
    </div>
  </div>
</div>
<script src="/search.js"></script>