<div class="col">
  <div class="card shadow-sm">
    <img src="{{image_url}}"></img>
    <div class="card-body">
      <p class="card-text">
        {{name}}
      </p>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-movieid="{{id}}">
          Add a Review
        </button>
      </div>
    </div>
  </div>
</div>