<div class="card m-1">
    <div class="card-header">
        <div class="my-rating" data-review="{{id}}" data-rating="{{rating}}"></div>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            {{body}}
            <footer class="blockquote footer"> - {{user.name}} </footer>
        </blockquote>
    </div>
</div>