<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  {{!-- for the star rating svg --}}
  {{!-- https://github.com/nashio/star-rating-svg --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../src/css/star-rating-svg.css">
  <link rel="stylesheet" type="text/css" href="../../src/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
  <title>Popcornable</title>
</head>

<body>
  <header class="blog-header py-3"
    style="background-image: url(https://media.istockphoto.com/photos/background-of-fresh-made-popcorn-picture-id149066514);">
    <div class="container">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-8 pt-1">
          <a class="btn btn-sm" style="background: white;" href="/">Home</a>
          <a class="btn btn-sm" style="background: white;" href="/api/movie">All Movies</a>
          {{#if loggedIn}}
          <a class="btn btn-sm" href="/api/user/{{userId}}">Dashboard</a>
          {{/if}}
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          {{#if loggedIn}}
          <div class="m-2">Hi {{userName}}! </div>
          <button id="logoutBtn" class="btn btn-light">Logout</button>
          {{else}}
          <a class="btn btn-sm btn-outline-secondary" style="background: white;" href="/login">Login</a>
          <a class="btn btn-sm" style="background: white;" href="/signup">Sign up</a>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
  {{{body}}}
  <script src="../../src/jquery.star-rating-svg.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  {{#if loggedIn}}
  <script src="../../logout.js"></script>
  {{/if}}
</body>

</html>