<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  {{!-- for the star rating svg --}}
  {{!-- https://github.com/nashio/star-rating-svg --}}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../src/css/star-rating-svg.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
  <title>Popcornable</title>
</head>

<body>
  <header class="blog-header py-3">
    <div class="container">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-2 pt-1">
        </div>
        <div class="col-8 text-center">
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">
          {{#if loggedIn}}
          <button id="logout" class="btn btn-light">Logout</button>
          {{else}}
          <a class="btn btn-sm btn-outline-secondary" href="/login">Login</a>
          <a class="btn btn-sm" href="/signup">Sign up</a>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
  {{{body}}}
  <script src="../../src/jquery.star-rating-svg.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

{{!--
<script src='/public/logout.js'></script>
<script src='/public/login.js'></script>
<script src='/public/review.js'></script>
<script src='/public/signup.js'></script>
<script src='/public/dashboard.js'></script> --}}

</html>